

body {
    background-color: rgb(37, 35, 35);
}

.jumbotron {
    background-size: cover;
    height: 500px;
    
}

.logo{
    padding:15px;
    height: 150px;
    width: 750px;
   
}

.textjmb, .textjmb2 {
    text-shadow: 1px 1px 2px rgb(255, 255, 255);  
    font-size: 25px; 
    color: rgb(0, 0, 0);
    font-family: 'Pangolin', cursive;
   
}

.textjmb{
    margin-top: 80px;
}

.textjmb2{
    margin-bottom: 60px;
}

.logogb {
    margin: 5px;
    
}

.card-title{
    margin-top: 10px;
}

.titleTeam{
    color: red;
    font-family: 'Pangolin', cursive;
    margin-top: 40px;
}
